/* obituaries/static/obituaries/css/styles.css */

/* General Body and Form Styles */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 2.5rem; /* Adjust font size as needed */
    color: #333; /* Example text color */
    text-transform: uppercase; /* Example text transformation */
    letter-spacing: 2px; /* Example letter spacing */
}


form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* View Obituaries Button */
.view-obituaries-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.view-obituaries-button:hover {
    background-color: #218838;
}
